h1 {
  color:black;
}

body {
  text-align:center;
  font-family:sans-serif, arial;
}

.container {
  border:60px solid red;
  border-radius:40px;
  width:576px;
  height:576px;
  margin:auto;
}

.clear {
  margin-bottom:20px;
  width:115px;
  height:35px;
}

.unit {
  background-color:#d9d9d9;
  width:36px;
  height:36px;
  float:right;
}

.hover {
  background-color:black;
}
